<h1>Cadastrar Usuario</h1>
<form action="/add-usuario" method="post">
    <label>Nome</label>
    <input type="text" name="name"><br><br>
    <label>email</label>
    <input type="text" name="email"><br><br>
    <label>idade</label>
    <input type="text" name="idade"><br><br>
    <input type="submit" value="Cadastrar">
</form>